<!DOCTYPE html>
<html lang="en">
<head>
	<title>RDD</title>
	
<style>


#header {
    padding: 0px 0px 55px 0px;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    
    background-image: linear-gradient(to left top, #a4f9ff, #a3ecf1, #a2dfe4, #a1d3d6, #9fc6c9);
}
</style>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>

	<div id="header">
<p style="font-size:160%;">VIDEHA LTD.</p>	<br><br>
  <span class="slide-right"><H1><center>RESPIRATORY DISORDER DETECTION</center></H1></span>
</div>
		
<br><br><br>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-49">
					Login
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Type your username">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="pass" placeholder="Type your password">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					
					<div class="text-right p-t-8 p-b-31">
						<a href="#">
							Forgot password?
						</a>
					</div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								<a href="http://127.0.0.1:5000/dashboard">Login</a>
							</button>
						</div>
					</div>
	<br>
						<a href="#" class="txt2">
							     <center>Don't have an account? Sign Up</center>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	
	
<!--===============================================================================================-->


</body>
</html>